*{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images1/banner.jpg) ;
    background-position: fixed;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: top;


}
.nav-links{
    flex: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #161818;
    text-align: right;
    z-index: 999;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 5px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #9fdfeb;
    display: block;
    margin: auto;
    transition: 0.5s;
    font-size: large;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}
/*table styling*/
.prices{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: antiquewhite;
}
.prices h2{
    text-align: center;
}

/*-heading styling*/
.text-box{
    width: 50%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-box p{
    
    
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display:inline-block ;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 15px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 10px 0 10px;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    border-radius: 10px;
    
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position:relative ;
    overflow: hidden;
  }
  span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span {
    width: 100%;
  }
  button:hover {
    border: none;
  }


  /*----About us styling-----*/



  .about-us{
      background-color: #b7c7c5;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col img{
    width: 100%;

}
.about-col h1{
    padding-top:0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}


/*-----Home page styling--------*/

.offices{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    background-color: #1a1f1f;
    
}
.offices-col{
    
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    
}

.footer{
    background-color: #4b737b;
    padding-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



